name: GitHub-Actions-Test-Manual-Trigger

on: workflow_dispatch

jobs:
  oblige:
    runs-on: ubuntu-latest
    steps:
      - name: Get source code
        run: wget https://sourceforge.net/projects/oblige/files/Oblige/7.70/oblige-770-source.zip

      - name: Extract source code
        run: unzip oblige-770-source.zip

      - name: Build
        run: |
          cd Oblige-7.70-source
          sudo apt update
          sudo apt install libfltk1.3-dev zlib1g-dev
          wget https://raw.githubusercontent.com/zurg3/github-actions-test/master/OBLIGE/oblige.patch
          patch -p1 < oblige.patch
          make

      - name: Generate WAD
        run: |
          cd Oblige-7.70-source
          wget https://raw.githubusercontent.com/zurg3/github-actions-test/master/OBLIGE/my_config.txt
          mkdir oblige_wad
          ./Oblige --batch oblige_wad/OUTPUT.wad --load my_config.txt

      - name: Upload WAD
        uses: actions/upload-artifact@v6
        with:
          name: oblige_wad
          path: Oblige-7.70-source/oblige_wad
